<strong>Olá, tudo bem?</strong>

<p><a href="mailto:{{email}}">{{ name }}</a> compartilhou um evento com você:</p>

<p>
  Evento: {{ title }}<br>
  Local: {{ location }}<br>
  Data: {{ date }}<br>
  Horário: {{ time }}
</p>
